@use '../variables' as *;

// HOME/HERO BANNER

.home {
  position: relative;
  height: 540px;
  overflow: hidden;
}

.home-banner {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.home-absolute-content {
  position: absolute;
  top: 50%;
  left: 25px;
  right: 25px;
  transform: translateY(-50%);
  text-align: center;
}

.main-heading {
  color: $white;
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 7px;
  margin-bottom: 40px;
}

.arrow-down {
  display: inline-block;
  animation: jump-down 2s ease infinite;
}

@keyframes jump-down {

  0%,
  50%,
  100% {transform: translateY(0);}

  12.5%,
  37.5% {transform: translateY(20px);}

  25% {transform: translateY(10px);}
}


// HOME SECTION MEDIA QUIRIES
// LARGE MOBILE
@media (min-width: 550px){
  .home {
      height: 700px;
  }
}

// FOR TABLET
@media (min-width: 768px){
  .home {
    height: 800px;
  }

  .main-heading {
    font-size: 50px;
  }
}

// FOR DESKTOP
@media (min-width: 1024px){
  .home-absolute-content {
    transform: translateY(calc(-50% + -65px));
  }

  .main-heading {
    font-size: 55px;
    letter-spacing: 9px;
    margin-bottom: 95px;
  }
}