@use '../variables' as *;

// NAVBAR/HEADER SECTION

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  // background: hsl(200, 100%, 62%);
}

.navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.5rem;
}

.navbar__nav {
  background: $white;
  position: absolute;
  top: 120%;
  left: 25px;
  right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
  padding: 40px;
  box-shadow: 0 10px 40px hsla(0, 0%, 0%, 0.1);
  transform: scale(0.9);
  transform-origin: top right;
  opacity: 0;
  pointer-events: none;
  // transition:;
}

.navbar__nav.active {
  transform: scale(1);
  opacity: 1;
  pointer-events: all;
}

// triangle 
.navbar__nav::before {
  content: "";
  position: absolute;
  top: -19px;
  right: -20px;
  border: 20px solid transparent;
  border-left-color: $white;
  transform: rotate(45deg);
}

.nav-link {
  color: $dark-grayish-blue;
}

.btn {
  background: $yellow;
  color: $dark-desaturated-cyan;
  text-transform: uppercase;
  padding: 18px 30px;
  border-radius: 50px;
}

// .nav-toggle-btn {
//   display: none;
// }


@media (min-width: 768px){
  .nav-toggle-btn {
    display: none;
  } 
}

